<section id="home-photos">
  <div class="container">
    <div class="py-28">
      <div class="mb-10">
        <h2 class="mb-5 text-4xl font-semibold text-center">
          {{ title }}
        </h2>
        <h3 class="text-center">
          {{ description }}
        </h3>
      </div>
      <div class="flex flex-wrap justify-between">
        {{ galery }}
        {{ if index < 3 }}
        <button class="w-full md:w-[32%] h-[200px] galery-photo mb-8">
          <img src="{{ url }}" class="object-cover w-full h-full rounded shadow-base">
        </button>
        {{ /if }}
        {{ /galery }}

        {{ galery }}
        {{ if index < 5 && index > 2 }}
        <button class="w-full md:w-[49%] h-[200px] md:h-[250px] galery-photo mb-8 md:mb-12">
          <img src="{{ url }}" class="object-cover w-full h-full rounded shadow-base">
        </button>
        {{ /if }}
        {{ /galery }}
      </div>
      <div class="flex justify-center">
        <a href="{{ button_link }}" class="btn-primary">Tümünü Gör</a>
      </div>
    </div>
  </div>
</section>

{{ partial:components/photo-view }}