<section id="home-blog">
  <div class="container">
    <div class="py-20">
      <div class="mb-10">
        <h2 class="mb-5 text-4xl font-semibold text-center">
          {{ title }}
        </h2>
        <h3 class="text-center">
          {{ description }}
        </h3>
      </div>
      <div class="grid grid-cols-1 gap-10 mb-10 md:grid-cols-2 lg:grid-cols-3">
        {{ collection:blog limit="3" }}
          {{ partial:components/post-card }}
        {{ /collection:blog }}
      </div>
      <div class="flex justify-center">
        <a href="{{ button_link }}" class="btn-primary">
          {{ button_text }}
        </a>
      </div>
    </div>
  </div>
</section>