{{ form:iletisim }}

{{ if success }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.css"
/>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: "Teşekkürler",
            icon: "success",
            html: "Mesajınız bize ulaştı.",
            showCloseButton: true,
            focusConfirm: true,
            confirmButtonText: "Kapat",
            confirmButtonAriaLabel: "Kapat",
        });
});
</script>
{{ /if }}

<section id="home-contact" class="relative bg-center bg-no-repeat bg-cover" style="background-image: url('{{ background }}')">
  <div class="bg-black-layer z-[1]"></div>
  <div class="container relative z-[2]">
    <div class="flex flex-col items-center py-20 md:py-40 md:flex-row">
      <div class="mb-20 md:w-1/2 md:mb-0">
        {{ content }}
      </div>
      <div class="flex justify-center md:w-1/2">
        <div class="w-10/12 border-t-[12px] shadow-base border-secondary">
          <div class="w-full p-5 bg-[#fff] rounded-b md:p-10">
            <h5 class="mb-10 text-xl font-medium text-center text-gray-700">
              İletişime Geç
            </h5>
            <div class="mb-10">
              <div class="flex mb-10 space-x-5">
                <input type="text" class="base-input" placeholder="İsim" name="form_name" id="form_name" required>
                <input type="text" class="base-input" placeholder="Soyisim" name="form_surname" id="form_surname" required>
              </div>
              <div class="space-y-10">
                <input type="email" class="base-input" placeholder="Email" name="form_email" id="form_email" required>
                <textarea class="base-input h-[100px] resize-none" placeholder="Mesaj" name="form_message" id="form_message" required></textarea>
              </div>
            </div>
            <div class="flex justify-center">
              <input type="text" class="hidden" name="honeypot" id="honeypot" class="honeypot" />
              <button class="btn-secondary" type="submit">Gönder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ /form:iletisim }}