<div>

  {{ partial:components/page-intro }}

  <section class="px-10">
    <div class="p-20 shadow-base mt-[-50px] relative z-[4] min-h-[60vh] rounded bg-white">
      <div class="container">
        <div class="page-content">
          <div class="max-w-[800px] w-full px-4 mx-auto">
            <p>
              Stourl fikri bu şekilde ortaya çıkmadı. Yaklaşık beş sene önce hayalimde çeşitli özellikleri olan bir 
              link kısaltma aracı kurmak vardı. Bu araç ile linkleri şifreleyebilme, kısaltılan linke özel url oluşturabilme, 
              kısaltılan linkleri kaydetme gibi birçok işlem yapılabilecekti.
            </p>
            <p>
              Stourl fikri bu şekilde ortaya çıkmadı. Yaklaşık beş sene önce hayalimde çeşitli özellikleri olan bir 
              link kısaltma aracı kurmak vardı. Bu araç ile linkleri şifreleyebilme, kısaltılan linke özel url oluşturabilme, 
              kısaltılan linkleri kaydetme gibi birçok işlem yapılabilecekti.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>