<div id="blog">

  {{ partial:components/page-intro }}

  <section class="px-10">
    <div class="p-20 shadow-base mt-[-50px] relative z-[4] min-h-[60vh] rounded bg-white">
      <div class="container">
        {{ collection:blog paginate="9" as="blog" }}
          <div class="grid grid-cols-1 mb-10 gap-x-10 gap-y-16 md:grid-cols-2 lg:grid-cols-3">
            {{ blog }}
              {{ partial:components/post-card }}
            {{ /blog }}
          </div>
          <div class="flex justify-center my-10">
            {{ partial:components/pagination }}
          </div>
        {{ /collection:blog }}
      </div>
    </div>
  </section>

</div>