<div id="home">
  
  <section id="home-intro" class="bg-center bg-no-repeat bg-cover bg-home-intro">
    <div class="container">
      <div class="flex flex-col items-center justify-center min-h-screen">
        <h1 class="mb-10 text-6xl font-semibold text-white">Mehmet Ali Ayvaz</h1>
        <a href="#" class="btn-primary">Hakkımda</a>
      </div>
    </div>
  </section>

  <section id="home-blog">
    <div class="container">
      <div class="py-20">
        <div class="mb-10">
          <h2 class="mb-5 text-4xl font-semibold text-center">Blog</h2>
          <h3 class="text-center">Son Yazılar</h3>
        </div>
        <div class="grid grid-cols-1 gap-10 mb-10 md:grid-cols-2 lg:grid-cols-3">
          {{ loop times="3" }}
            {{ partial:components/post-card }}
          {{ /loop }}
        </div>
        <div class="flex justify-center">
          <a href="#" class="btn-primary">Tümünü Gör</a>
        </div>
      </div>
    </div>
  </section>

  <section id="home-photos">
    <div class="container">
      <div class="py-20">
        <div class="mb-10">
          <h2 class="mb-5 text-4xl font-semibold text-center">Fotoğraflar</h2>
          <h3 class="text-center">Hobi olarak fotoğrafçılıkla uğraşıyorum. Tümünü gör diyerek çektiğim tüm fotoğraflara ulaşabilirsiniz.</h3>
        </div>
        <div class="mb-10">
          <div class="grid grid-cols-1 gap-10 mb-10 md:grid-cols-2 lg:grid-cols-3">
            {{ loop times="3" }}
            <div class="w-full h-[200px]">
              <img src="/assets/img/card/card-default.png" class="object-cover w-full h-full rounded shadow-base">
            </div>
            {{ /loop }}
          </div>
          <div class="grid grid-cols-1 gap-10 md:grid-cols-2">
            {{ loop times="2" }}
            <div class="w-full h-[250px]">
              <img src="/assets/img/card/card-default.png" class="object-cover w-full h-full rounded shadow-base">
            </div>
            {{ /loop }}
          </div>
        </div>
        <div class="flex justify-center">
          <a href="#" class="btn-primary">Tümünü Gör</a>
        </div>
      </div>
    </div>
  </section>

  <section id="home-contact" class="bg-center bg-no-repeat bg-cover bg-home-intro">
    <div class="container">
      <div class="flex items-center py-40">
        <div class="w-1/2">
          <h2 class="mb-5 text-3xl font-semibold text-white">Sosyal Medya</h2>
          <ul class="font-light text-white">
            <li><a href="#" target="blank">github.com/mehmetaliayvaz</a></li>
            <li><a href="#" target="blank">linkedin.com/in/mehmetaliayvaz</a></li>
            <li><a href="#" target="blank">medium.com/@mehmetaliayvaz</a></li>
            <li><a href="#" target="blank">instagram.com/mhmtaliayvaz</a></li>
            <li><a href="#" target="blank">twitter.com/mhmtaliayvaz</a></li>
            <li><a href="#" target="blank">youtube.com/mehmetaliayvaz</a></li>
            <li><a href="#" target="blank">pexels.com/@mehmetaliayvaz</a></li>
            <li><a href="#" target="blank">instagram.com/siyahdiyafram</a></li>
            <li><a href="#" target="blank">mehmetaliayvaz61@gmail.com</a></li>
          </ul>
        </div>
        <div class="flex justify-center w-1/2">
          <div class="w-10/12 p-10 bg-white rounded shadow-base">
            <div class="w-full py-4 text-center bg-pink-600 rounded mt-[-60px] mb-10">
              <span class="text-lg font-medium text-white">İletişime Geç</span>
            </div>
            <div class="mb-10">
              <div class="flex mb-5 space-x-5">
                <input type="text" class="base-input" placeholder="İsim">
                <input type="text" class="base-input" placeholder="Soyisim">
              </div>
              <div class="space-y-5">
                <input type="text" class="base-input" placeholder="Konu">
                <textarea class="base-input h-[100px] resize-none" placeholder="Mesaj"></textarea>
              </div>
            </div>
            <div class="flex justify-end">
              <button class="btn-secondary">Gönder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>