<div id="photos">

  {{ partial:components/page-intro }}

  <section class="md:px-10">
    <div class="page-card">
      <div class="container">
        <div>
          <div class="page-content">
            {{ content }}
          </div>
          <div class="grid grid-cols-1 gap-5 md:gap-10 sm:grid-cols-2 md:grid-cols-3">
            {{ galery }}
            <button class="w-full h-[200px] galery-photo">
              <img src="{{ url }}" class="object-cover w-full h-full rounded shadow-base">
            </button>
            {{ /galery }}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {{ partial:components/photo-view }}

</div>