<div id="photos">

  {{ partial:components/page-intro }}

  <section class="px-10">
    <div class="p-20 shadow-base mt-[-50px] relative z-[4] min-h-[60vh] rounded bg-white">
      <div class="container">
        <div>
          <div class="page-content">
            {{ content }}
          </div>
          <div class="grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-3">
            {{ galery }}
            <div class="w-full h-[200px]">
              <img src="{{ url }}" class="object-cover w-full h-full rounded shadow-base">
            </div>
            {{ /galery }}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
  </section>

</div>