@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
  @apply font-roboto;
}

.btn-primary{
  @apply px-10 py-3 font-medium text-white bg-red-600 rounded;
}

.btn-secondary{
  @apply px-10 py-3 font-medium text-white bg-pink-600 rounded;
}

.base-input{
  @apply w-full text-gray-500 placeholder-gray-300 border-b border-gray-300 focus:outline-0;
}

.page-content{
  @apply mb-20 text-lg font-light text-gray-500;
}

.page-content p, .page-content img{
  @apply mb-4 ;
}

.pagination .pagination-item{
  @apply m-1 text-sm text-white bg-red-300 rounded cursor-pointer hover:bg-red-500;
}

.pagination .pagination-item a, .pagination .pagination-item span{
  @apply flex px-3 py-1;
}

.pagination .active{
  @apply bg-red-500;
}

.bg-black-layer{
  @apply absolute top-0 left-0 w-full h-full bg-black opacity-50;
}
  
.line-clamp-2{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
